body{
    font-family:"PTSans Narrow", "Arial", sans-serif;
    font-size:14px;
    font-weight:bold;
    margin:0;
    padding:0;
    width:1200px;
    min-height::1160px;
    text-transform:uppercase;
}
h1{
    font-size:30px;
}
h2{
    font-size:24px;
}
.container{
    width:960px;
    padding:0 10px;
    margin:0 auto;
}
.main-header{
    background:black;
}
header a{
    color:white;
    text-decoration:none;
}
header{
    text-transform:uppercase;
}
.main-navigation{
    width:800px;
    float:left;
    font-size:16px;
    height:70px;
}
.main-navigation ul{
    margin-left:-15px
}
.main-navigation li{
    display: inline-block;
    margin-right:25px;
}
.main-navigation img{
    position:relative;
    top:7px;
}
.user-block{
    width:90px;
    float:right;
    padding-top:28px;
    padding-left:30px;
    font-size:16px;
    min-height:40px;
    height:42px;
}
.clearfix{
    content:'';
    display:table;
    clear:both;
}
main{
    background: url("../img/background.png") repeat;
    padding:0;
    margin:0;
}
main a{
    color:black;
    text-decoration:none;
}
.breadcrumbs{
    display:inline-block;
    margin-bottom:60px;
}
.breadcrumbs a{
    margin-right:35px;
}
.title span{
    color:#aba9a7;
    font-size:14px;
}
.kit{
    float:left;
    margin-bottom:20px;
}
.description{
    width:385px;
    font-size:14px;
    float:right;
}
content-gallery-top p{
    line-height:24px;
}
.content-gallery-top p span{
    float:right;
    color:#aba9a7;
}
.content-gallery-top p:first-child{
    margin-bottom:40px;
}
content-gallery-bottom li{
    font-size:14px;
    line-height:24px;
}
.price-btn{
    width:190px;
    height:45px;
    background:#e5e5e5;
    margin-top:40px;
    margin-bottom:65px;
}
.price-btn a{
    width:80px;
    height:31px;
    display:inline-block;
    background:black;
    color:white;
    margin-right:-5px;
    text-transform:uppercase;
    text-align:center;
    padding-top:14px;
}
.price-btn span{
    display:inline-block;
    width:110px;
    text-align:center;
}
.click a{
    margin-right:20px;
}
.click{
    padding-bottom:50px;
}
footer{
    background: url("../img/footer-background.jpg");
    color:white;
    padding-top:60px;
}

footer a{
    color:white;
}
.footer-contacts{
    width:320px;
    margin-right:90px;
    float:left;
    min-height:95px;
}
.footer-social{
    float:left;
    width:380px;
    padding-bottom:60px;
}
.footer-copyright{
    padding-bottom:40px;
    float:right;
}
